{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-cond-assign": [2, "except-parens"],
  },
  "env": {
    "es6": false,
    "node": true,
  },
}
